:root{
    --gray:#212121;
    --green:#009660;
    --white:#e9e9e9;
    --black:#0c0c0c;
    --lgray:#929292;
}
@font-face{
    font-family: neu;
    src: url(./NeueMachina-Regular_DQCmjH1st.ttf);
}
@font-face {
    font-family: hell;
    src: url(./HelveticaNowDisplay-Medium_2wEhlmo-TD_wsqqEEwmJC.woff2);
}
@font-face {
    font-family: hellb;
    src: url(./HelveticaNowDisplay-Bold_VMHV5twUMR.ttf);
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html,
body{
    height: 100%;
    width: 100%;
}
body{
    color:var(--white);
    background-color:var(--black);
}
.green{
    color: var(--green);
}
.lgray{
    color: var(--lgray);
}
nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100vw;
    height: 10vh;
    /* background: red; */
    padding:10px 40px;
    font-family:  monospace;
    position: fixed;
}
.nav1{
    display: flex;
    align-items: center;
    gap: 18px;
    /* background: seagreen; */
}
.nav1 img{
    height: 50px;
}
.nav1 h6{
    font-size: 20px;
    /* width: 90px; */
    font-weight: 100;
    font-family: neu;
    line-height: 1.3;
}
.nav2{
    display: flex;
    align-items: center;
    justify-content: space-around;
    font-size: 20px;
    gap: 45px;
    /* background: blueviolet; */
}
.nav2 h4{
    font-size:17px;
    font-weight: 100;
    font-family: neu;
    line-height: 1.4;
}
.nav2 img{
    width: 35px;
    height: 35px;
    border-radius: 50%;
}
.nav2 h4 i {
    font-size: 20px;
}
.nav3{
    display: none;
    align-items: center;
    justify-content: space-around;
    font-size: 20px;
    gap: 60px;
}
.nav3 h4{
    font-size:17px;
    font-weight: 100;
    font-family: neu;
    line-height: 1.4;
}
.nav3 h4 i {
    font-size: 20px;
}
.nav3 img{
    width: 35px;
    height: 35px;
    border-radius: 50%;
}

@media (max-width:600px) {
    nav{
        padding: 13px 20px;
    }
    .nav1 h6{
        font-size: 15px;
    }
    .nav1 img{
        height: 35px;
    }
    .nav2{
        display:none;
    }
    .nav3{
        font-size:30px;
        display: flex;
        width: 50px;
        color: #fff;
    }
    .nav3 h4 i{
        padding: 12px;
        color: #fff;
    }
}
main{
    padding-top: 100px;
}
.section1 {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    padding:15px 70px;
    font-family: hell;
}
.section1 .left{
    /* background-color: #133f2e; */
    width: 44%;
}
.section1 .left h1{
    font-size: 40px;
    font-weight: 100;
}
.section1 .left .tags{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap:5px 5px;
    margin: 30px 0;
    /* font-weight: 100; */
}
.left .price{
    font-weight: 700;
    font-size: 25px;
    /* color: #009660; */
}
.left .price span{
    font-size: 20px;
    font-weight: 700;
}
.left .price .lgray{
    text-decoration: line-through;
    font-size: 15px;
    font-weight: 300;
}
.section1 .left .tags h4{
    padding: 10px 20px;
    border-radius: 4px;
    white-space: nowrap;
    background-color: var(--gray);
    font-weight: 100;
}
.section1 .left h5{
    font-weight: 200;
}
.section1 .left .cta{
    display: flex;
    align-items: center;
    gap: 10px;
    margin: 20px 0;
}
.cta button{
    background: var(--green);
    padding: 20px 50px;
    border-radius: 5px;
    border: none;
    font-size: 20px;
    color: var(--white);
}
.cta button:nth-child(2){
    background: var(--gray);
}
.section1 .left h6{
    font-weight: 200;
}
.section1 .right .right-in{
    width: 550px;
    overflow: hidden;
    border-radius: 5px;
}
.section1 .right .right-in .image{
    width: 100%;
    height: 310px;
}
.section1 .right .right-in .image img{
    object-fit: cover;
    width: 100%;
}
.section1 .right .right-in .image-bottom{
    padding: 10px  20px;
    padding-top: 40px;
    background-color: var(--gray);
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 10px;
}
.right-in .image-bottom h4{
    background-color:#151515;
    padding: 10px 15px;
    width: 48%;
    border-radius: 5px;
}
@media (max-width:1400px){
    .section1 .left h1{
        font-size: 3.5vw;
    }
}
@media (max-width:800px){
    .main{
        padding-top: 50px;
    }
    .section1{
        flex-direction: column-reverse;
        padding: 15px 5vw;
    }
    .section1 .left{
        width: 100%;
        margin-top: 30px;
    }
    .section1 .left h1{
        font-size: 30px;
    }
    .left .price{
        font-weight: 550;
        font-size: 5vw;
    }
    .left .price span{
        font-size: 20px;
        font-weight: 700;
    }
    .left .price .lgray{
        text-decoration: line-through;
        font-size: 3vw;
        font-weight: 300;
    }
    .section1 .left .tags h4{
        padding: 10px 20px;
        border-radius: 4px;
        white-space: nowrap;
        background-color: var(--gray);
        font-weight: 100;
    }
    .section1 .left h5{
        font-weight: 200;
    }
    .section1 .left .cta{
        display: flex;
        align-items: center;
        justify-content: space-between;
        gap: 10px;
        margin: 20px 0;
    }
    .cta button{
        background: var(--green);
        padding: 20px;
        border-radius: 5px;
        width: 50%;
        border: none;
        font-size: 4vw;
        color: var(--white);
    }
    .section1 .right .right-in{
        width: 100%;
        overflow: hidden;
        border-radius: 5px;
    }
    .section1 .right .right-in .image{
        width: 100%;
        height: 25vw;
    }
    .section1 .right .right-in .image-bottom{
        padding: 10px ;
        padding-top: 20px;
        gap: 5px;
    }
    .right-in .image-bottom h4{
        background-color:#151515;
        padding: 5px 10px;
        width: 48%;
        border-radius: 5px;
        font-size: 3vw;
    }
}
@media (max-width:600px){
    .section1 .left h1{
        font-size: 5vw;
    }
}
.section2{
    padding: 70px 0;
    /* background-color: red; */
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.section2 h1.bloom{
    position: absolute;
    filter: blur(80px);
}
.section2 h1{
    font-family: hellb;
    font-size: 130px;
    position: relative;
    background-image: url(https://ik.imagekit.io/sheryians/Aptitude%20&%20Reasoning/mask%20Large_ZB4lGN8hWZ.png);
    background-size: cover;
    background-clip: text;
    color: transparent;
}
.section2 h3{
    font-size: 45px;
    font-family: hell;
    text-transform: capitalize;
    letter-spacing: -1px;
    font-weight: 400;
}
@media (max-width:900px) {
    .section2 h1{
        white-space: nowrap;
        font-size: 15vw;        
    }
    .section2 h3{
        text-align: center;
        font-size: 4vw;        
    }
}